header {
  display: flex;
  height: 60px;
  background-color: #211951;
  color: #15f5ba;
  align-items: center;
  justify-content: space-between;
}
.profile-picture {
  height: 20px;
}
.top-left-header {
  display: flex;
  font-size: 1.3rem;
  justify-content: space-around;
  width: clamp(150px, 50%, 250px);
}
.top-right-header {
  display: flex;
  width: clamp(400px, 50%, 800px);
  justify-content: space-around;
}
.top-right-header {
  div:nth-child(1),
  div:nth-child(2),
  div:nth-child(3),
  div:nth-child(4) {
    border-left: 2px solid #ff69b4;
    border-right: 2px solid #ff69b4;
    box-sizing: border-box;
    padding: 5px 10px;
    cursor: pointer;
    height: 100%;
    font-size: 1.3rem;
  }
}
