:root {
  --russian-purple: #211951;
  --purple: #836fff;
  --almost-white: #f0f3ff;
  --nice-green: #15f5ba;
  --somewhat-pink: #ff69b4;
}
/* * {
  outline: 1px solid red;
} */
body {
  margin: 0;
  font-family: Anta, Arial;
  height: 100dvh;
}
body {
  overflow: auto;
  background: linear-gradient(
    315deg,
    #836fff 3%,
    #15f5ba 38%,
    #211951 68%,
    #f0f3ff 98%
  );
  animation: gradient 18s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
