.main-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 20px;
}
.game-cards {
  width: 80vw;
  margin: auto;
  margin-top: 100px;
}
.search-bar-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5em;
}
.search-bar-div input {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  box-sizing: border-box;
  border: none;
  transition: scale 0.4s, filter 0.3s;
  font-size: 20px;
  border-radius: 50px;
  box-shadow: 2px 5px 10px rgb(0, 0, 0, 0.15);
  background: rgb(131, 111, 255);
  background: radial-gradient(
    circle,
    rgba(131, 111, 255, 1) 0%,
    rgba(33, 25, 81, 1) 100%
  );
  color: #15f5ba;
  font-weight: 600;
  font-family: Anta;
}
.search-bar-div input:hover {
  filter: brightness(1.1);
}
.search-bar-div input:focus {
  outline: none;
  scale: 1.02;
}
.search-bar-div input::placeholder {
  font-size: 1rem;
  color: #15f5ba;
  opacity: 0.8;
}
.fetch-games-button {
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  border: none;
  transition: scale 0.15s, filter 0.3s;
  font-size: 20px;
  border-radius: 50px;
  box-shadow: 2px 5px 10px rgb(0, 0, 0, 0.15);
  background: rgb(131, 111, 255);
  background: radial-gradient(
    circle,
    rgba(131, 111, 255, 1) 0%,
    rgba(33, 25, 81, 1) 100%
  );
  color: #15f5ba;
  margin-left: 10px;
  cursor: pointer;
  font-weight: 600;
  font-family: Anta;
}
.fetch-games-button:hover {
  filter: brightness(1.1);
}
.fetch-games-button:active {
  scale: 1.1;
}
@media (max-width: 568px) {
  .fetch-games-button {
    width: 30%;
  }
  .search-bar-div input {
    width: 60%;
  }
}
@media (min-width: 1200.5px) {
  .fetch-games-button {
    width: 10%;
  }
  .search-bar-div input {
    width: 20%;
  }
}
@media (min-width: 568.5px) and (max-width: 1200px) {
  .fetch-games-button {
    width: 20%;
  }
  .search-bar-div input {
    width: 40%;
  }
}
.focus-game-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.main-page-game {
  display: flex;
  align-items: center;
  justify-content: center;
}
